<p>{$smarty.now|date_format}</p>

<p>{beneficiary.display_name}<br/>
    {beneficiary.street_address}<br/>
    {beneficiary.city}, {beneficiary.state_province} {beneficiary.postal_code}</p>

<p>Dear {beneficiary.first_name}:</p>

<p>We are delighted to inform you that a gift has been made in your name by {giver.display_name}. Gifts like this one provide the resources necessary for our 1,700+ volunteers to build upon and maintain a vast network of trails in and around New York and New Jersey and to educate the public on the responsible use of trails and natural environment.</p>

<p>Our work is funded in part by member dues and the sale of Trail Conference maps, books, and other merchandise.  In larger measure, however, we rely on donations by general individuals like you, as well as local businesses, corporations, foundations, and our program partners.</p>

<p>With sincere thanks,</p>

<p>{contribution.electronic_signature}</p>
<p>Edward K. Goodell<br/>
    Executive Director</p>

<p>P.S. Keep your eye on our website for information about upcoming events, workshops,
    and other trail related news!</p>

<div>
    --------------------------------------------------------------------------------------------<br/>
    GIFT ACKNOWLEDGEMENT

    <p>Gift Amount: ${contribution.soft_amount} {soft_credit_type} {beneficiary.display_name}<br/>
        Gift date: {$contribution.receive_date|date_format:"%m/%d/%Y"}<br/>
        Fund: {contribution.financial_type_name}<br />
        {if $contribution.financial_type_name == 'Restricted'}
        Note: {contribution.contribution_note}
        {/if}
        Matching Gift Company: {if $contribution.custom_40 == 'Y'}Yes{/if}{if $contribution.custom_40 != 'Y'}No{/if}<br />
    </p>

    <div style="font-size:.75em">The Trail Conference is a 501(c)(3) organization (FID#22-6042838). Please keep this
        letter of acknowledgement with your tax records to provide to the IRS upon request.
    </div>
</div>