<p>{$membership.receive_date|date_format}</p>

<p>{$contact.first_name} {$contact.last_name}<br/>
    {contact.street_address}<br/>
    {contact.city}, {contact.state_province} {contact.postal_code}</p>

<p>Dear {contact.first_name}:</p>

<p>{if $membership.status_name == 'Current'}Thank you for continuing to support the work of the New York-New Jersey Trail Conference
    {/if}{if $membership.status_name == 'New'}Welcome to the New York-New Jersey Trail Conference, and thank you for supporting us
    {/if}{if $membership.status_name == 'Returning'}Welcome back to the New York-New Jersey Trail Conference, and thank you for supporting us
    {/if}
    with your
    ${$membership.sum_total_amount|string_format:"%.2f"}
    {membership.type_membership_type_name} membership. Your membership helps to support our many programs and projects
    aimed at building and maintaining trails and helping people use and enjoy the backcountry in a responsible manner.</p>

<p>As you hike this magnificent region, you can proudly say that you are helping to keep it green, and that you are a
    member of the team that has built and maintains over 2,100 miles of trails.</p>

<p>The real benefit of membership in the Trail Conference is the opportunity to get out into nature, visit your favorite
    park, or take a walk on the trail of your choice. Your investment in us helps us invest in our people and services
    that preserve and enhance the natural environment.</p>

<p>Happy trails!</p>

<p>{membership.electronic_signature}</p>

<p>Edward K. Goodell<br />Executive Director</p>

<div style="font-size:.75em;">The Trail Conference is a 501(c)3 organization. The entire amount of your membership dues
    is tax-deductible.<br/>
    No goods or services were provided by the NY-NJ Trail Conference (FID#22-6042838) in return for your
    contribution.<br/>
    Please keep this letter of acknowledgment with your tax records.
</div><br/><br/>
<table>
    <tr>
        <td>{contact.display_name}<br/>{membership.membership_id}<br/>{$membership.membership_end_date|date_format}</td>
        {if !empty($second_contact.display_name)}
        <td>{second_contact.display_name}<br/>{membership.membership_id}<br/>{$membership.membership_end_date|date_format}
        </td>
        {/if}
    </tr>
</table>