<p>{$membership.receive_date|date_format}</p>

<p>{$contact.first_name} {$contact.last_name}<br/>
    {contact.street_address}<br/>
    {contact.city}, {contact.state_province} {contact.postal_code}</p>

<p>Dear {contact.first_name}:</p>

<p>Enclosed please find a reprinted membership card as requested.</p>

<p>As you hike this magnificent region, you can proudly say that you are helping to keep it green, and that you are a member of the team that has built and maintains over 2,100 miles of trails.</p>

<p>The real benefit of membership in the Trail Conference is the opportunity to get out of doors and into nature,
    visit your favorite park, or take a hike on the trail of your choice. Your investment in us helps us invest
    in our people and services that preserve and enhance the natural environment.</p>

{membership.electronic_signature}
<p>Edward K. Goodell<br />Executive Director</p>

<div style="font-size:.75em;">The Trail Conference is a 501(c)3 organization. The entire amount of your membership dues
    is tax-deductible.<br/>
    No goods or services were provided by the NY-NJ Trail Conference (FID#22-6042838) in return for your
    contribution.<br/>
    Please keep this letter of acknowledgment with your tax records.
</div><br/><br/>
<table>
    <tr>
        <td>{contact.display_name}<br/>{if !empty($contact.external_identifier)}{contact.external_identifier}{/if}{if empty($contact.external_identifier)}{contact.contact_id}{/if}<br/>{$membership.membership_end_date|date_format:"%m/%d/%Y"}</td>
        <td>{if !empty($second_contact.display_name)}{second_contact.display_name}<br/>{if !empty($second_contact.external_identifier)}{$second_contact.external_identifier}{/if}{if empty($second_contact.external_identifier)}{$second_contact.contact_id}{/if}<br/>{$membership.membership_end_date|date_format:"%m/%d/%Y"}{/if}{if empty($second_contact.display_name)}<div style="font-size:1.5em;font-weight:bold">VOID</div>{/if}</td>
    </tr>
</table>